<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="前程贷接口测试">
    <test name="test">
        <classes>
            <!--   api_testcases_futureloan_v4,excel中v2须鉴权         -->
            <class name="com.lemon.testcases.RegisterTest"/>
            <class name="com.lemon.testcases.LoginTest"/>
            <class name="com.lemon.testcases.GetUserInfoTest"/>
            <class name="com.lemon.testcases.RechargeTest"/>
            <class name="com.lemon.testcases.AddLoanTest"/>
        </classes>
    </test>
</suite>